.slider {
    position: relative;
    overflow: hidden;
    width: 1000px;
    height: 500px;
    margin: 0 auto;
    margin-top: 50px;
}

img {
    display: none;
    width: 1000px;
    height: 500px;
    object-fit: cover;
    object-position: center;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
}

.prev {
    left: 0;

}

.next {
    right: 0;

}